<h1>Users#show</h1>
<p id="notice"><%= notice %></p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<div class="container">
  <div class="row mx-auto">
  <% @user.events.each do |event| %>
  <div class="card border-success mx-4 col-lg-3 col-md-6 col-12">
    <strong class="card-title"> <%= event.title %></strong>
    <p class="card-text"><%= event.place %></p>
    <em class="card-text"></p><%= event.date %></em>
    <%= link_to 'Show', event, class: "text-success"%>
 </div>
    <% end %>
  </div>
  </div>
<br/>
