<p id="notice"><%= notice %></p>
<div id="container">
<p class="control">
                 
                      <%= link_to current_user.name, edit_user_registration_path, class: "button is-info" %>
                   
                </p>
<h3 class="title-reg is-2">Events</h3>

<div class="centered">
    <section class="cards">
      <% @events.each do |event| %>
        <article class='card'>
          
             <%# <p><small>Creator: </small><strong><%= event.user.username %></strong></p> %>
          <p class="event">What: <%= event.title %></p>
          <p class='body'>Where: <%= event.place %></p>
          <p class='date'>When: <%= event.date %></p>
          <span><%= link_to 'Show', event_path(event) %>||</span>
          <span><%= link_to 'Edit', edit_event_path(event) %>||</span>
          <span><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <p>*  *  *  *  *</p>
        </article>
      <% end %>
    </section>
  </div>

<br>

<%= link_to 'New Event', new_event_path %>
